/**
 * @outputFile main.css
 * @main sass file
 * main.scss file for all basic styles
 *
 * 8/10/12
 * Mojiferous
 */
@import "base";
$screenSize: 576px;

@mixin screen-pos($margLeft, $margRight: 0) {
  position: absolute;
  left: $margLeft;
  @if $margRight == 0 {
    top: $margLeft;
  } @else {
    top: $margRight;
  }

}

body {
  margin: 0;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #59f216;
  background-color: #000;
  margin: 50px;
}

canvas {
  margin: 0;
}

a {
  padding: 8px;
  line-height: 40px;
}

.board-body {
  position: absolute;
}

#board-canvas {
  @include screen-pos(0px);
}

#ui-canvas {
  position: absolute;
  top: $screenSize;
  left: 0px;
}

#controls {
  pointer-events: none;
}

.control-overlay {
  @include screen-pos(50px);
  padding: 10px;
  width: $screenSize;
  height: $screenSize + 50px;
  background-color: #000;
  pointer-events: none;
  line-height: 40px;
  a {
    pointer-events: all;
  }
  span {
    color: #306f14;
    padding-left: 10px;
    pointer-events: all;
  }
  .active {
    color: #59f216;
  }
}

.crt-screen {
  background-image: url(../images/crt2.png);
  background-size: $screenSize $screenSize;
  opacity: .3;
  display: block;
  width: $screenSize;
  height: $screenSize;
  overflow: hidden;
  pointer-events: none;
  .scan {
    position: relative;
    top: 0px;
    left: 0px;
    width: $screenSize;
    height: $screenSize;
    display: block;
    background-image: url(../images/scan.png);
    background-size: $screenSize 64px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-attachment: fixed;
  }
}

#crt1 {
  @include screen-pos(50px);
}

#crt2 {
  @include screen-pos(676px, 50px);
  .scan {
    background-position: 676px 500px;
  }
}