/**
 * @outputFile main.css
 * @main sass file
 * main.scss file for all basic styles
 *
 * 8/10/12
 * Mojiferous
 */
@import "base";
$screenSize: 576px;

/**
 * sets the absolute screen position of an element
 */
@mixin screen-pos($margLeft, $margRight: 0) {
  position: absolute;
  left: $margLeft;
  @if $margRight == 0 {
    top: $margLeft;
  } @else {
    top: $margRight;
  }

}

/**
 * overlay and screen classes
 */
@mixin overlay {
  padding: 10px;
  width: $screenSize - 20;
  height: $screenSize + 30px;
  background-color: #000;
  pointer-events: none;
  line-height: 40px;
  a {
    pointer-events: all;
  }
  span {
    color: #306f14;
    pointer-events: all;
  }
  .active {
    color: #59f216;
  }
}

/**
 * prevents text highlighting in the non-interactive screens
 */
@mixin no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #59f216;
  background-color: #000;
  margin: 50px;
}

canvas {
  margin: 0;
}

a {
  padding: 8px;
  line-height: 40px;
  color: #59f216;
}

.small-text {
  font-size: 8px;
  a {
    line-height: 2em;
  }
}

.board-body {
  position: absolute;
}

#board-canvas {
  @include screen-pos(0px);
}

#ui-canvas {
  position: absolute;
  top: $screenSize;
  left: 0px;
}

.screens {
  pointer-events: none;
}

.control-overlay {
  @include screen-pos(50px);
  @include overlay();
}

.text-overlay {
  @include screen-pos(676px, 50px);
  @include overlay();
}

#help {
  @include no-highlight;
  .text-overlay {
    line-height: 2em;
  }
}

.crt-screen {
  background-image: url(../images/crt2.png);
  background-size: $screenSize $screenSize;
  opacity: .3;
  display: block;
  width: $screenSize;
  height: $screenSize;
  overflow: hidden;
  pointer-events: none;
  .scan {
    position: relative;
    top: 0px;
    left: 0px;
    width: $screenSize;
    height: $screenSize;
    display: block;
    background-image: url(../images/scan.png);
    background-size: $screenSize 64px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-attachment: fixed;
  }
}

#crt1 {
  @include screen-pos(50px);
}

#crt2 {
  @include screen-pos(676px, 50px);
  .scan {
    background-position: 676px 500px;
  }
}

/**
 * icons
 */
.icon {
  background-image: url(../images/rhtileset.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

/**
 * calculate icon position
 */
@mixin icon-pos($iconNum) {
  background-position: (-$iconNum*32px) 0px;
}

#game-instructions {
  pointer-events: none;
  span, div {
    pointer-events: none;
  }
}

#human-icon {
  @include icon-pos(1);
}
#robot-icon {
  @include icon-pos(2);
}
#fire-icon {
  @include icon-pos(3);
}
#water-icon {
  @include icon-pos(4);
}
#hole-icon {
  @include icon-pos(5);
}
#food-icon {
  @include icon-pos(6);
}
#death-icon {
  @include icon-pos(7);
}
#wall-icon {
  @include icon-pos(8);
}
#money-icon {
  @include icon-pos(9);
}
#electric-icon {
  @include icon-pos(10);
}
#gears-icon {
  @include icon-pos(11);
}